<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title">HAYMAKER!</h1>
    <p class="site-description">An APAzine for the HERO System</p>
           
    <!-- <p> <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></P> 
    <p>{{ site.description }}</p>
	-->

   <nav class="site-nav">
<ul>
	<li><a href="{{ site.baseurl }}/index.html">HOME</a></li>
	<li><a href="{{ site.baseurl }}/news.html">WHAT'S NEW</a></li>
	<li><a href="{{ site.baseurl }}/issues.html">PAST ISSUES</a></li>
	<li><a href="{{ site.baseurl }}/authors.html">AUTHORS</a></li>
	<li><a href="{{ site.baseurl }}/about.html">ABOUT US</a></li>
	<li><a href="{{ site.baseurl }}/links.html">USEFUL LINKS</a></li>
</ul>
    </nav>

  </div>

<hr>

</header>
